$primary-logo-blue: #5757e5;
$primary-blue: adjust-hue($primary-logo-blue, -30%);
$primary-yellow: #f9f92a;
$light-yellow: lighten($primary-yellow, 40%);
$light-blue: lighten($primary-blue, 30%);
$light-grey: #F6F6F6;
$medium-grey: #DCDCDC;


/* Set bulma variables */
$gap: -50px;

@import 'bulma';

/*
 * Calculate the top bar, body, and footer placements
 */

$navbar-border-width: 2px;
$navbar-height-no-border: 70px;
$navbar-height: $navbar-height-no-border + $navbar-border-width;
$footer-height: 60px;
$scroll-bar-width: 17px;
$body-margin-top-bottom: 15px;

html {
    overflow-y: auto
}

body {
    margin: 0;
    overflow-y: auto
}

.icon.custom-icon {
    position: relative;
    .icon-text {
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        padding-bottom: 1px;
    }
}

#content {
    width: 100%;
    height: 100vh;
    background-color: $light-grey;
}

#body {
    $height-calc: calc(100vh - #{$navbar-height} - #{$footer-height});
    width: 100%;
    height: $height-calc;
    max-height: $height-calc;
    min-height: $height-calc;
    position: absolute;
    top: $navbar-height;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#inner-content {
    $margin-left-right: 30px;
    $margin-left-right-small: 17px;
    
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    margin-top: $body-margin-top-bottom;
    margin-bottom: $body-margin-top-bottom;

    &.collapse-for-scrollbar {
        margin-right: calc(#{$margin-left-right} - 17px);
        width: calc(100% - #{$margin-left-right} - #{$margin-left-right} + 17px);
    }

    @media screen and (max-width: $desktop - 1px) { // they designed with min width, so off by one
        & {
            margin-left: $margin-left-right-small;
            margin-right: $margin-left-right-small;
        }

        &.collapse-for-scrollbar {
            margin-right: calc(#{$margin-left-right-small} - 17px);
            width: calc(100% - #{$margin-left-right-small} - #{$margin-left-right-small} + 17px);
        }
    }
}

#navbar .navbar {
    z-index: 1000;
    height: $navbar-height;
    margin: 0;
    border-bottom: $navbar-border-width solid $medium-grey;
    box-shadow: 0 $navbar-border-width 5px $medium-grey;

    .navbar-brand {
        line-height: 0;
        height: $navbar-height-no-border;

        #navbar-logo {
            margin: 0;
            height: 100%;
            display: inline-block;
            margin-right: 30px;
    
            #navbar-logo-img {
                height: $navbar-height-no-border - 5px; // minus margin
                cursor: pointer; 
                margin: 5px;
                margin-bottom: 0;
                padding: 0;
    
            }
        }
    }

    $button-height: 40px;

    .navbar-menu {
        height: $navbar-height-no-border; // minus margin
        float: right;
        margin: 0;
        margin-right: 30px;

        .navbar-end, .navbar-start {
            position: relative;
            vertical-align: middle;
            .button {
                height: $button-height;
                position: relative;
                top: calc(50% - #{$button-height} / 2);
                margin: 5px;
                display: inline-block;
                display: inline-flex;
                font-size: 22px;
                background-color: $primary-blue;
            }
        }
    }

    @media screen and (max-width: $desktop - 1px) { // they designed with min width, so off by one
        .navbar-menu {
            height: auto;
            position: absolute;
            right: 0;
            top: $navbar-height;
            margin-right: 0;
            width: 40%;
            min-width: 200px;
    
            .navbar-end, .navbar-start {
                text-align: center;
                .button {
                    position: static;
                    top: initial;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    height: $footer-height;
    max-height: $footer-height;
    min-height: $footer-height;
    position: absolute;
    top: calc(100vh - #{$footer-height});
    left: 0;
    overflow: hidden;

    * {
        max-height: $footer-height !important;
    }
}

#page-home {
    #image-slider {
        width: 100%;
        text-align: center;

        .redo-animation {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
            z-index: 30;
            opacity: 0;
            cursor: pointer;
        }

        #image-slider-text {
            margin: 20px;
            text-align: left;
            font-size: 16px;
        }

        #image-slider-logo-img {
            width: 40%;
            position: relative;
            left: 11%;
            z-index: 10;
            margin-top: 3%;
        }

        #image-slider-letter-cover {
            width: 39.8%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 20;
            background-color: $light-grey;
        }

        @keyframes moveLogo {
            0%   {left: 11%}
            50%  {left: -10%}
            100% {left: 0}
        }

        @keyframes moveLetterCover {
            0%   {
                width: 40%
            }
            99%  {
                width: 28%;
            }
            100%  {
                width: 0;
            }
        }

        @keyframes showRedoAnimation {
            0% {
                transform: rotate(0deg);
                opacity: 0;
            }
            90%   {
                transform: rotate(0deg);
                opacity: 0;
            }
            100%  {
                transform: rotate(360deg);
                opacity: 1;
            }
        }

        &.animation-active {
            #image-slider-logo-img {
                animation-fill-mode: forwards;
                animation-name: moveLogo;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
            }
            #image-slider-letter-cover {
                animation-fill-mode: forwards;
                animation-name: moveLetterCover;
                animation-duration: 2s;
            }

            .redo-animation {
                animation-fill-mode: forwards;
                animation-name: showRedoAnimation;
                animation-duration: 2s;
            }
        }

    }
}
