#tile-info {
    width: 90%;
    margin: 0 auto;
    .tile {
        
        article {
            margin: 0 auto;
            padding-left: 3%;
            padding-right: 3%;
            text-align: center;
            color: white;

            &.orange {
                background-color: $primary-orange;
            }
            &.blue {
                background-color: $primary-blue;
            }
            &.yellow {
                background-color: $dark-yellow;
            }

            .subtitle {
                word-break: initial;
                margin-bottom: 10px;
            }

            @media screen and (max-width: $tablet) {
                .title, .subtitle {
                    font-size: 16px !important;
                }
            }
        }

        .icon {
            height: 80px;
            width: 80px;

            .icon-text {
                transform: translateY(20%);
            }
        }
        
    }
}