$primary-blue: #0c7bff;
$dark-primary-blue: #0052b5;
$light-primary-blue: #4698fa;
$primary-yellow: #fcff00;
$dark-primary-yellow: #f3ee02;
$primary-orange: #ff9c00;
$dark-primary-orange: #f58e00;
$primary-purple: #8a0bff;
$dark-primary-purple: #6d0dc4;
$light-grey: #F9FaFa;
$medium-grey: #DCDCDC;


/* Set bulma variables */
$tablet: 650px;
$gap: -45px;

@import 'bulma';

/*
 * Calculate the top bar, body, and footer placements
 */

$navbar-border-width: 2px;
$navbar-height-no-border: 70px;
$navbar-height: $navbar-height-no-border + $navbar-border-width;
$footer-height: 40px;
$scroll-bar-width: 17px;
$body-margin-top-bottom: 15px;
