#inner-content {
    $margin-left-right: 30px;
    $margin-left-right-small: 17px;
    
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    margin-top: $body-margin-top-bottom;
    margin-bottom: $body-margin-top-bottom;

    &.collapse-for-scroll {
        animation-name: collapse-scroll;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    &.no-scroll {
        animation-name: decollapse-scroll;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes collapse-scroll {
        0% {
            margin-right: $margin-left-right;
        }
        100% {
            margin-right: $margin-left-right - 17;
        }
    }

    @keyframes decollapse-scroll {
        0% {
            margin-right: $margin-left-right - 17;
        }
        100% {
            margin-right: $margin-left-right;
        }
    }

    @media screen and (max-width: $desktop - 1px) { // they designed with min width, so off by one
        margin-left: $margin-left-right-small;
        margin-right: $margin-left-right-small;

        @keyframes collapse-scroll {
            0% {
                margin-right: $margin-left-right-small;
            }
            100% {
                margin-right: $margin-left-right-small - 17;
            }
        }
    
        @keyframes decollapse-scroll {
            0% {
                margin-right: $margin-left-right-small - 17;
            }
            100% {
                margin-right: $margin-left-right-small;
            }
        }
    }
}