.name-display-box {
    .field {
        width: 80%;
        margin: 0 auto;

        @media screen and (max-width: $tablet) {
            width: 100%;
        }

        label {
            white-space: nowrap
        }
    }



    .subtitle {
        text-align: center;
    }
}