.reactive-table-box {
    overflow-x: hidden;
    #reactive-table {
        table {
            border: 1px solid #dbdbdb;
            border-radius: 30%;
        }
        th, td {
            text-align: center;
        }
        .remove-button {
            display: block;
            width: 30%;
            min-width: 18px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            color: red;
        }
    
        .state-container{
            text-align: center;
            background-color: $primary-blue;

            .subtitle {
                color: $light-grey;
            }
    
            .state-button {
                border-color: $light-grey;
                background-color: $light-grey;
                font-weight: bold;
                color: $primary-blue;
                margin: 3px 5px;
                height: 100%;
                white-space: normal;
    
                &.selected {
                    color: $light-grey;
                    background-color: $dark-primary-orange;
                    border-color: $primary-orange;
                }
            }
        }
    }

    .redo-button {
        padding-right: 10px;
    }
}